<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to admin page </h1>
       <form action="/studreg" method="get">
        <button type="submit">register student</button>
       </form>
       <form action="/newDept" method="get">
        <button type="submit">create department</button>
       </form>
       <form action="/deptFetch" method="get">
        <button type="submit">fetch department</button>
       </form>
</body>
</html>