<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>hello admin, welcome to signup form </h3>
    <form action="/adminSIGN" method="post">
        <label for="adminFirstname">admin first name </label><br>
        <input type="text" name="adminFirstname" required><br>
        <label for="adminSecondname">admin second name</label><br>
        <input type="text" name="adminSecondname" required><br>
        <label for="adminEmail">admin emai</label><br>
        <input type="email" name="adminEmail"><br>
        <label for="adminPassword"> admin password</label><br>
        <input type="password" name="adminPassword" required><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>