<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="courseTitle">course title</label><br>
        <input type="text" name="courseTitle" required><br>
        <label for="courseCode">corse code</label><br>
        <input type="text" name="courseCode" required><br>
        <label for="courseDesc">course description</label>
        <input type="text" name="courseDesc" required><br>
        <button type="submit">create course</button>
    </form>
</body>
</html>