<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% stud.forEach(st => { %>
  <form action="/dept/<%= st._id %>" method="get">
    <button type="submit"><%= st.deptName %></button>
  </form>
<% }) %>

</body>
</html>