<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/studreg" method="post">
        <label for="studFname">student first name</label><br>
        <input type="text" name="studFname" required><br>
        <label for="studSname">student second name</label><br>
        <input type="text" name="studSname" required><br>
        <label for="studEmail">student email</label><br>
        <input type="email" name="studEmail" required><br>
        <label for="studDept">student department</label><br>
        <input type="text" name="studDept" required><br>
        <label for="studyBatch">study batch</label><br>
        <input type="text" name="studyBatch" required><br>
        <button type="submit">submit</button>
      </form>
</body>
</html>