<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= student.studFname%> takes those courses</h2>
        <ul>
            <li>
                <%  student.course.forEach(st =>{%>
                   <button><%= st.courseTitle%></button> <form action="/grade/<%= dept._id%>/<%= stud._id%>" method="get">
                    <button type="submit">grade submit</button>
                   </form> <br>
               <% } )%>
            </li>
        </ul>
</body>
</html>