<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

      <h3>welcome to students login page</h3>
        <p>put your first name and email to login</p>
    <form action="/studlogin" method="post">
      
        <label for="studFname">first name </label>
        <input type="text" name="studFname" required>
        <label for="studEmail">email</label><br>
        <input type="email" name="studEmail" required><br>
        <button type="submit">login</button>


    </form>
</body>
</html>