<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Cedit/<%= core._id%>/updatee" method="post">
        <label for="courseTitle">course title </label><br>
        <input type="text" name="courseTitle" value="<%= core.courseTitle%>" required><br>
        <label for="courseCode">course code</label><br>
        <input type="text" name="courseCode" value="<%= core.courseCode%>" required><br>
        <label for="courseDesc">course description</label><br>
        <input type="text" name="courseDesc" value="<%= core.courseDesc%>" required><br>
        <button type="submit">save</button>
    </form>
</body>
</html>